/**************HolderList******************/

.flex-container {
    position: relative;
    display: flex;
    overflow-x: auto;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}



/**************Holder******************/

.Holder {
    margin: 30px auto;
    margin-right: 30px;
    margin-left: 30px;
    min-height: 80%;
    min-width: 20%;
    max-width: 40%;
    background-color: #06d3f4;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 667px) {
    .Holder {
        min-height: 80%;
        min-width: 80%;
    }
}

.Holder-Label {
    text-align: center;
    color: #06d3f4;
    background-color: #232424;
    border: 1px solid #06d3f4;
}

.Holder-Body {
    overflow-y:auto;
}

.Holder-Footer{
    position:relative;
    bottom:0;
}
 
/*******Blank Holder********/

.Blank {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232424;
    border: 1px dashed #06d3f4;
}

.AddButton {
    width: 200px;
    height: 200px;
    text-decoration: none;
    border: 2px dashed #06d3f4;
    border-radius: 50%;
}

/*******Holder Item**********/

.Status-finished{
    color: green;
}

.Status-unfinished {
    color: yellow;
}

.Holder-Item {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px dashed #232424;
    border-top:0;
    word-break:break-word;
}

.Holder-Item-Body {
   
}

.Holder-Item-Value {
    
    
}

.Holder-Item-State {
    background-color: #232424;
    text-align:end;
}

