/**************HolderList******************/

.flex-container {
    position: relative;
    display: flex;
    overflow-x: auto;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}



/**************Holder******************/

.Holder {
    margin: 30px auto;
    margin-right: 30px;
    margin-left: 30px;
    min-height: 80%;
    min-width: 20%;
    background-color: #06d3f4;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 667px) {
    .Holder {
        min-height: 80%;
        min-width: 80%;
    }
}

.Holder-Label {
    text-align: center;
    color: #06d3f4;
    background-color: #232424;
    border: 1px solid #06d3f4;
}
 
/*******Blank Holder********/

.Blank {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232424;
    border: 1px dashed #06d3f4;
}

.AddButton {
    width: 200px;
    height: 200px;
    text-decoration: none;
    border: 2px dashed #06d3f4;
    border-radius: 50%;
}

/*******Holder Item**********/

.Holder-Item {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.Holder-Item-Body {
   display:flex;
}

.Holder-Item-Value {
    flex:1;
}

.Holder-Item-State {
    text-align:end;
    flex: 1;
    display:flex;
}

.Holder-Item-State-Item {
    flex: 1;
}
